
{% extends "base.html" %}
{% load static %}
{% block container %}  
<div class="container">
        <h1>Administrators</h1>
        <ol>
            <li><a href="{% url 'index' %}">Home</a></li>
            <li><a href="{% url 'student-add' %}">Student Add</a></li>
            <li><a href="{% url 'student-list' %}">Student List</a></li>
            <li><a href="{% url 'attendance_list' %}">Attendance</a></li>
            {% if user.is_authenticated %}
            <li><a href="{% url 'logout' %}">Logout</a></li>
            {% else %}
            <li><a href="{% url 'login' %}">Login</a></li>
            {% endif %}
        </ol>
</div>
{% endblock%}